body {
	background-image: url("https://vanimg.s3.amazonaws.com/wood-17.jpg");
	margin: 0;
}

ul {
	list-style: none;
	margin: 0;
	padding: 0;
}

h1 {
	background: #2980b9;
	color: white;
	margin: 0;
	padding: 10px 20px;
	text-transform: uppercase;
	font-size: 24px;
	font-weight: normal;
}

#headnav {
	background-color: rgb(77, 158, 224);
	width: 100%;
	box-shadow: 0 0 3px rgba(0, 0, 0, 3);
}

.fa-plus {
	float: right;
}

.fa-list {
	float: right;
	padding-right: 50px;
}

.fa-minus-square {
	float: right;
	padding-left: 10px;
}

li {
	background: #fff;
	height: 40px;
	line-height: 40px;
	color: #666;
}

li:nth-child(2n) {
	background: #f7f7f7;
}

span {
	background: #e74c3c;
	height: 40px;
	margin-right: 20px;
	text-align: center;
	color: white;
	width: 0;
	display: inline-block;
	transition: 0.2s linear;
	opacity: 0;
}

li:hover span {
	width: 40px;
	opacity: 1.0;
}

input {
	font-size: 18px;
	color: #2980b9;
	background-color: #f7f7f7;
	width: 100%;
	padding: 13px 13px 13px 20px;
	box-sizing: border-box;
	border: 3px solid rgba(0, 0, 0, 0);
}

input:focus {
	background: #fff;
	border: 3px solid #2980b9;
	outline: none;
}

input[type=date] {
	font-size: 9px;
	margin: 0;
	border: 0;
	width: 130px;
	height: 20px;
}

.todo {
	width: 360px;
	margin: 100px auto;
	background: #f7f7f7;
	box-shadow: 0 0 3px rgba(0, 0, 0, 0.1);
}

.completed {
	color: gray;
	text-decoration: line-through;
}
